<a href="/#/requests/list"><i class="fa fa-chevron-left float-left mt-1 mr-2" ></i><h5>Αιτήσεις</h5></a>
<div class="title" [translate]="'Requests.RequestsNew'">
</div>
<div class="card">
  <div class="card-body">
    <div class="sub-title" [translate]="'Requests.RequestsNewTitle'">
    <h4></h4>
    </div>
    <form action="" method="post">
      <div class="form-group">
        <div class="requests-text" for="nf-email" [translate]="'Requests.RequestsNewTitleSum'"></div>
        <input #title type="text" id="title" name="nf-email" class="form-control" placeholder="{{ 'Requests.RequestsNewTitle' | translate }}">
      </div>
    </form>
    <div class="sub-title" [translate]="'Requests.RequestNewDescription'">
      <h4></h4>
    </div>
    <form action="" method="post">
      <div class="form-group">
        <div class="requests-text" for="nf-email" [translate]="'Requests.RequestsNewFullMessage'"></div>
        <textarea #description id="description" name="textarea-input" rows="3" class="form-control" placeholder="{{ 'Requests.RequestsNewMessage' | translate }}"></textarea>
      </div>
    </form>
    <div class="row justify-content-center">
    <button type="submit" (click)="sendSimpleMessage(title.value, description.value)" class="btn btn-success btn-requests"><i ></i>  <span [translate]="'Requests.Request'"></span></button>
    </div>
  </div>



</div>
