/******** Top filtering bar of registration of courses **********/

.reg_courses_filters {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid #c2cfd6;
  border-radius: 6px;
  background-color: #f0f3f5;
  letter-spacing: -0.03px;
  margin-top: 20px;
  margin-right: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.reg_courses_filters__input {
  flex-grow: 1;
  border: 1px solid #536c79;
}

.reg_courses_filters__item {
  padding: 0;
  margin-left: 15px;
  border-radius: 3px;
}

.reg_courses_filters_search {
  display: flex;
}


/******** Body of registration of courses **********/

.reg_courses_body {
  display: flex;
  margin-top: 45px;
}

.reg_courses_body__main_semesterTitle {
  margin-bottom: 15px;
}

.reg_courses_body__main_typeTitle {
  margin-bottom: 15px;
  margin-top: 15px;
}



.reg_courses_body__main_card {
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  border-color: #b3acb3;
  border-radius: 10px;
  padding: 20px 30px 20px 30px;
  display: flex;
  -webkit-box-shadow: 0px 0px 13px 0px #b3acb3;
  -moz-box-shadow: 0px 0px 13px 0px #b3acb3;
  box-shadow: 0px 0px 13px 0px #b3acb3;
}

//semesterChoice: the filter that you choose semester
.reg_courses_body__semesterChoice {
  font-size: 14px;
  border-right: 1px solid;
  padding-right: 30px;
  height: 100%;
  padding-bottom: 20px;
  white-space: nowrap;
}

.choosenSemesterforFiltering {
  //it's using in semesterChoice
  // font-weight: bold;
  font-size: 20px;
  color: #29363d!important;
}

.semesterChoice-item {
  cursor: pointer;
  margin-top: 5px;
}

.semesterChoice-item:first-child {
  margin-top: -5px;
}

.reg_courses_body__main {
  flex-grow: 1;
  margin: 0 50px 100px 50px;
}


// Main Card
.reg_courses_body__main_card__lessonDetails {
  display: flex;
  flex-wrap: wrap;
}
.reg_courses_body__main_card__lessonTitle {
  margin-top: 20px;
}
.reg_courses_body__main_card__lessonDetails_item {
  margin-top: 10px;
  margin-right: 15px;
}

.reg_courses_title {
  margin-top: 20px;
}

.reg__main_card_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

//all main-cards will have margin-top property except from the first one
.reg_courses_body__main_card ~ .reg_courses_body__main_card {
  margin-top: 15px;
}




.reg__select-btn {
  cursor: pointer;
  border-style: solid;
  border-width: 1.2px;
  padding: 10px 60px 10px 60px;
  border-radius: 5px;
}


/************** FOOTER BAR *************/
// where the student can see total number of lessons, ECTS, etc.


/*** footer--open ***/

.reg__footer--open {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding-top:30px;
  padding-left:30px;
  padding-right:40px;
  padding-bottom: 30px;
  bottom: 0;
  left: 50px;
  right: 50px;
  color: gray;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #b3acb3;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;

  -webkit-box-shadow: 0px 0px 20px 0px #b3acb3;
  -moz-box-shadow: 0px 0px 20px 0px #b3acb3;
  box-shadow: 0px 0px 20px 0px #b3acb3;
}

.reg__footer_title {
  color: black;
  display: flex;
  align-items: center;
  font-size: 21px;
}

.reg__footer_box2 {
  padding-left: 20px;
  margin-right: 40px;
  margin-top: 40px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid gray;
  justify-content: flex-end;
}

.reg__footer_box1 {
  margin-bottom: 10px;
}


.reg__arrow-position {
  right: 25px;
  top: 25px;
  position: absolute;
}

.reg__footer_lesson-counting {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

// .reg__footer_number {
//   margin-left: 20px;
//   padding-top: 10px;
//   margin-right: 40px;
//   padding-bottom: 10px;
//   display: flex;
//   flex-direction: column;
// }


/*** footer--closed ***/

.reg__footer--closed {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 50px;
  right: 50px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom:10px;
  padding-right: 30px;
  color: #536c79;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #b3acb3;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;

  -webkit-box-shadow: 0px 0px 20px 0px #b3acb3;
  -moz-box-shadow: 0px 0px 20px 0px #b3acb3;
  box-shadow: 0px 0px 20px 0px #b3acb3;
}

.reg__footer_box1--closed {
  display: flex;
}

.reg__footer_box2--closed {
  margin-right: 80px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.reg__footer_number {                                        
  margin-left: 20px;
  display: flex;
  align-items: center;
  font-size: 32px;  
  color: #4dbd74;
}

.reg__footer_box1_lesson {
  color: #4dbd74;
  border: 1px solid #4dbd74;
  border-radius: 16px;
  padding: 5px 20px 5px 20px;
  margin-right: 15px;
  margin-top: 15px;
}

.reg_courses_body__main-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
}

.reg__footer_label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.reg_navbar {
  display: flex;
  flex-wrap: wrap;
  padding-top: auto;
  padding-bottom: auto;
  border: 1px solid #C2CFD6;
  border-radius: 6px;
  background-color: #F0F3F5;
}

.reg_select-lesson_container {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/************ GENERAL **************/

.arrow-up {
  box-sizing: border-box;
  height: 10px;
  width: 10px;
  border-style: solid;
  border-color: gray;
  border-width: 2px 0px 0px 2px;
  transform: rotate(45deg);
}

.arrow-down {
  box-sizing: border-box;
  height: 10px;
  width: 10px;
  border-style: solid;
  border-color: gray;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
}

.purple-btn {
  color: #2500dd;
  background: white;
  border-color: #2500dd;
}

.reg__success {
  color: #32CD32;
}

.reg__gray {
  color: #A4B7C1;
  border-color: #A4B7C1;
  background: white;
}

.reg__btn--small {
  cursor: pointer;
  border-style: solid;
  border-width: 1.0px;
  padding: 2px 20px 2px 20px;
  border-radius: 5px;
  font-size: 14px;
}

/************ ATOMIC CSS **************/
/*"Atomic CSS" is a CSS architecture. It simply defines a set
of classes representing single-purpose styling units.*/

.display-flex {                                                   
  display: flex;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.flex-centering {
  justify-content: center;
  align-items: center;
}

.align-items--center {
  align-items: center;
}

.ml-10 {
  margin-left: 10px;
}

.mt-10 {
  margin-top: 10px;
}

/************** MOBILE UI ***************/

@media screen and (max-width: 600px) {
  .reg_courses_body__main {                                     //Mobile UI
    margin-left: 0;
    margin-right: 0;
  }

  .reg__main_card_top {                                         //Mobile UI                    
    flex-direction: column-reverse;
  }

  .reg__footer_lesson-counting {                                //Mobile UI    
    flex-direction: column;
    padding-right: 0;
    text-align: center;
  }

  .reg__footer {                                                //Mobile UI
    right: 0;
    left: 0;
    height: 150px;
  }

  .reg_courses_body__main_card {                                //Mobile UI    
    flex-direction: column;
    padding: 15px;
  }

  .reg_courses_body__main_card__lessonDetails {                 //Mobile UI
    flex-direction: column;
  }

  .reg__footer--closed {                                        //Mobile UI
    flex-direction: column;
    left: 0;
    right: 0;
  }
  .reg__footer--open {                                         //Mobile UI
    left: 0;
    right: 0;
    flex-direction: column;
  }

  .reg__footer_box2--closed {                                  //Mobile UI   
    width: 100%;
    align-items: center;
  }

  .reg__footer_box2 {                                          //Mobile UI
    border-left: 0;
    border-top: 1px solid gray;
    margin-left: 15px;
    margin-right: 15px;
  }

  .reg__footer_label {                                         //Mobile UI
    justify-content: flex-end;
  }

  .reg_courses_filters__item {                                 //Mobile UI
    width: 90px;
  }

  .reg_courses_filters_search {                                //Mobile UI
    margin-top: 10px;
  }

  .reg_select-lesson_container {                                //Mobile UI 
    width: 100%;
  }

}

/************** TABLET UI ***************/

@media screen and (max-width: 980px) and (min-width: 601px) {
  .reg_courses_body__main_card__lessonDetails {               //Tablet UI      
    flex-direction: column;
  }

  .reg__footer--open {                                        //Tablet UI
    left: 0;
    right: 0;
  }

  .reg__footer--closed {                                      //Tablet UI
    left: 0;
    right: 0;
  }

}
