<div class="statbox">
  {{ title }}
  <div class="card mt-2 mr-2 p-2">
    <div class="card-body mx-2">
      <div class="row justify-content-between">
        <h5>{{ statsPeriod }}</h5>
      </div>
      <div class="row justify-content-between">
        <div [translate]="'Grades.RegisteredCourses'"></div>
        <div>{{ registeredCourses }}</div>
      </div>
      <div class="row justify-content-between">
        <div [translate]="'Grades.PassedCourses'"></div>
        <div>{{ passedCourses }}</div>
      </div>
      <div class="row justify-content-between">
        <div [translate]="'Grades.FailedCourses'"></div>
        <div>{{ failedCourses }}</div>
      </div>
      <div class="row justify-content-between">
        <div [translate]="'Grades.PendingCourses'"></div>
        <div>?</div>
      </div>
      <div class="row dropdown-divider"></div>
      <div class="row justify-content-between">
        <div [translate]="'Grades.Average'"></div>
        <div>{{ passedGradeAverage }}</div>
      </div>
    </div>
  </div>
</div>
